@charset "UTF-8";

.button-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.button-group .login-button{
    border: none;
    outline: none;
    color: #D9D9D9;
}

.button-group .login-button:hover{
    border: none;
    outline: none;
    color: #a6a4a4;
}

.signup-group {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}