@charset "UTF-8";
.duplicateCheck-button {
    width: 27%;
    height: 100%;
    background-color: #FFB823;
    float: right;
    clear: none;
    border-radius: 6px;
    outline: none;
    border: none;
}

.signup-group {
    gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	margin-bottom: 70px;
}

.error-text{
	height:23px;
	font-size: 11px;
	text-align: left;
	color: red;
	margin-top: 5px;
}

.auth-button{
	width: 25%;
	height: 50px;
	border-radius: 6px;
	background-color: #FFB823;
	outline: none;
	border: none;
}

.button-disabled {
  background-color: #E6A918; 
  cursor: not-allowed;
  opacity: 0.7;
}

.button-disabled:hover {
	box-shadow: none;
}

.form-group{
	height:70px;
}

.email-group{
	margin-bottom:20px;
}