<?xml version="1.0" encoding="ISO-8859-1"?>
<log4j:configuration 
    xmlns:log4j="http://jakarta.apache.org/log4j/" 
    debug="false">
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>   
    </appender>

	<!-- log SQL with timing information, post execution -->
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
 
	<logger name="java.sql" additivity="false">
	    <level value="OFF" />		
		<appender-ref ref="console" />
	</logger>
	
	<logger name="org.springframework" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>	
	
	
	<logger name="elfw.appLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>	
	
	<logger name="org.apache.commons.digester.Digester" additivity="false">
		<level value="OFF" />
		<appender-ref ref="console" />
	</logger>		
	
	<logger name="org.apache.commons.validator.ValidatorAction" additivity="false">
		<level value="OFF" />
		<appender-ref ref="console" />
	</logger>	
		
		
		
	<logger name="com.inswave.elfw.db.sql.CompleteQueryPostProcessor" additivity="false">
	    <level value="DEBUG" />
	    <appender-ref ref="console" />
	</logger>
	
	<logger name="com.inswave.elfw.db.sql.InjectionPatternPostProcessor" additivity="false">
	    <level value="DEBUG" />
	    <appender-ref ref="console" />
	</logger>	
	
	<!-- MyBatis 로그 설정 -->
	<logger name="org.apache.ibatis" additivity="false">
	    <level value="DEBUG" />
	    <appender-ref ref="console" />
	</logger>
	
	<logger name="org.mybatis" additivity="false">
	    <level value="DEBUG" />
	    <appender-ref ref="console" />
	</logger>
	
	<logger name="com.demo.proworks.github.dao" additivity="false">
	    <level value="DEBUG" />
	    <appender-ref ref="console" />
	</logger>

	<!-- 칸반 보드 실시간 시스템 로거 -->
	<logger name="com.demo.proworks.websocket" additivity="false">
	    <level value="DEBUG" />
	    <appender-ref ref="console" />
	</logger>

	<logger name="com.demo.proworks.redis" additivity="false">
	    <level value="DEBUG" />
	    <appender-ref ref="console" />
	</logger>

	<logger name="com.demo.proworks.batch" additivity="false">
	    <level value="DEBUG" />
	    <appender-ref ref="console" />
	</logger>

	<!-- Redis 클라이언트 로거 -->
	<logger name="org.springframework.data.redis" additivity="false">
	    <level value="INFO" />
	    <appender-ref ref="console" />
	</logger>

	<logger name="redis.clients.jedis" additivity="false">
	    <level value="WARN" />
	    <appender-ref ref="console" />
	</logger>

	<!-- Spring 스케줄러 로거 -->
	<logger name="org.springframework.scheduling" additivity="false">
	    <level value="INFO" />
	    <appender-ref ref="console" />
	</logger>

	<root>
		<level value="ON" />
		<appender-ref ref="console" />
	</root>
	                   
</log4j:configuration>
