@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
	background-color: blueviolet;
}

.version-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	border: none;
	height: 100%;
}

.version-group {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    gap: 20px;
}

.version-button{
	background-color : pink;
}
